<% provide(:title, "Login") %>
<div class="col-md-5 offset-md-3">
  <h1 class="mt-3">Log In</h1>
  <%= form_for(:session, url: login_path) do |form| %>
    <div class="form-group ">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group ">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group ">
      <%= form.submit 'Log In',class: 'btn btn-default btn-primary mt-3' %>
    </div>
  <% end %>
  <small>Do not have an account.<%= link_to "Sign Up", signup_path %></small>
</div>

